// we're importing here main style variables
@import "@theme/assets/scss/variables";

// For available variables check SFUI docs - https://docs.storefrontui.io/customization.html#global-variables
//
// Please remember to ONLY override variables here, as it will be used in components.
// If you'd add some styles here as well it would be included in almost every component. You don't want it ;) You can add global styles in main.scss file.

#__nuxt {
  // --c-primary: #5e73ce;
  --_c-kebzari-primary:rgb(83 76 114);
  --c-primary: var(--_c-kebzari-primary);
    --c-primary-base: var(--_c-blue-primary-base);
    --c-primary-lighten: var(--_c-blue-primary-lighten);
    --c-primary-darken: var(--_c-blue-primary-darken);
    --c-primary-variant: var(--_c-blue-secondary);
  --boxed-mode-max-width: 1966px;
  --font-family--primary:'Kebzari-Font-EN', Fallback,'Kebzari-Font-GE', sans-serif;
  --font-family--secondary:'Kebzari-Font-EN', Fallback, sans-serif;
//   --_image-height: 500px;
}